@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    padding:None;
    margin:None;
    font-family: Roboto;

}

header {
    background-color: orangered;

}

h1 {
    color: green;
}

h3 {
    color:rgb(44, 145, 44);
}

main {
    padding:16px;
    margin-bottom: 10px;

}



img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    color: white;
}

footer {
    position: sticky;
    bottom: 10px;
    background-color: greenyellow;
    padding: 1em;
    z-index: 1;

}

a {
    text-decoration: none;
    color:inherit;

}

.nav-bar {
    color: white;
}

a:hover{
    color:rgb(2, 84, 2);

}

.grid-container {
    display: grid;
    grid-template-columns:repeat(4,200px);
    justify-content: space-between;


}

.grid-item {
    padding: 10px;

}

.ingredients {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    justify-content: flex-start;
}

.ingredient-table tr:nth-child(even){
    background-color:lightblue;
}
